*{
	font-family: "Roboto"
}

body{
	background-color: white;
}

#Insta{
	width: 250px;
	margin:50px;
	border: 1px solid #e0ded7;
	padding: 1%;
	margin-left: 60%;
	margin-bottom: 10px;
	
}

.box{
	width: 250px;
	height: 7 0%;
	padding: 1%;
	margin:0%;
	background-color:  white;
	border:1px solid white;
	border-radius: 8px;
	
}

.imgbox{
	border:0px solid white;
	margin-left: 30px;
}
.inputs-box{
	position: inline-block;
}

.Input-phone{
	width: 230px;
	height: 5vh;
	border:1px solid black;
	margin:1%;
	border-radius: 4px;
}

.Input-password{
	width: 230px;
	height: 5vh;
	border:1px solid black;
	margin:1%;
	border-radius: 4px;
	margin-bottom: 15px;
}

.butt-login{
	width: 230px;
	height: 5vh;
	background-color: #40bbc2;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	margin:10px;

}

.facebook-loginpage{
	margin-left: 15px;
	padding: 8%;
	text-color: greenyellow;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

 .facebook-loginpage>a {
      text-decoration:none;
      padding: 2%;
      text-align: center;
      color: #142b5e;
   }

   .second_box{
   	width: 250px;
	margin:10px;
	border: 1px solid #e0ded7;
	padding: 1%;
	margin-left: 60%;
	color: #142b5e;

   }
   .second_box>a{
   	color: #142b5e;
   }
   .last_box{
   	width: 250px;
	margin:10px;
	border: 1px solid whitesmoke;
	padding: 0%;
	margin-left: 60%;

   }
   .googleimg{
   	width: 50%;
   	margin-left: 10%;

   }

   .microsoftimg{
   	width: 60%;
   }

   .imagesline{
   	display: flex;
   	flex-direction: row;
   	justify-content: center;
   	margin: 20px 0 10px 0;

   }
   .Sideimage{
   	 position: absolute;
  top: 60px;
  left: 20%;
  width: 200px;
  height: 100px;


   }